:root {
  --neutral-color: #606266;
  --primary-400: #3a8ee6;
  --primary-300: #409eff;
  --primary-200: #66b1ff;
  --success-400: #5daf34;
  --success-300: #67c23a;
  --success-200: #85ce61;
  --info-400: #82848a;
  --info-300: #909399;
  --info-200: #a6a9ad;
  --warning-400: #CF9236;
  --warning-300: #E6A23C;
  --warning-200: #EBB563;
  --danger-400: #DC6161;
  --danger-300: #F56C6C;
  --danger-200: #F78989;
}

button {
  border: none;
  background-color: transparent;
}

.btn {
  font-family: Noto Sans SC;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  gap: 2px;
  border-radius: 4px;
  text-align: center;
  color: var(--neutral-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.rounded {
  border-radius: 222px;
}

.btn:disabled {
  opacity: 50%;
}

.btn_default {
  color: var(--neutral-color);
}

.btn_default:hover,
.btn_default:active {
  color: var(--primary-300);
}

.btn_default svg path {
  stroke: var(--neutral-color);
}

.btn_default:hover svg path {
  stroke: var(--primary-300);
}

.btn_lg {
  padding: 9px 20px;
}

.btn_md {
  padding: 7px 20px;
}

.btn_sm {
  padding: 7px 10px;
}

.btn_mini {
  padding: 5px 10px;
}

.btn_lg,
.btn_md {
  font-size: 14px;
  line-height: 22px;
}

.btn_sm,
.btn_mini {
  font-size: 12px;
  line-height: 18px;
}

.btn_lg svg,
.btn_md svg {
  width: 14px;
  height: 14px;
}

.btn_sm svg,
.btn_mini svg {
  width: 12px;
  height: 12px;
}

.btn_primary {
  background-color: var(--primary-300);
}

.btn_primary svg path,
.btn_primary:active svg path,
.btn_primary:hover svg path {
  stroke: #fff;
}

.btn_primary:active {
  background-color: var(--primary-400);
}
.btn_primary:hover {
  background-color: var(--primary-200);
}

.btn_success {
  background-color: var(--success-300);
}

.btn_success:active {
  background-color: var(--success-400);
}

.btn_success:hover {
  background-color: var(--success-200);
}
.btn_success svg path,
.btn_success:active svg path,
.btn_success:hover svg path {
  stroke: #fff;
}

/* BEGIN */
.btn_info {
  background-color: var(--info-300);
}

.btn_info:active {
  background-color: var(--info-400);
}

.btn_info:hover {
  background-color: var(--info-200);
}
.btn_info svg path,
.btn_info:active svg path,
.btn_info:hover svg path {
  stroke: #fff;
}
/* END */



/* BEGIN */
.btn_warning {
  background-color: var(--warning-300);
}

.btn_warning:active {
  background-color: var(--warning-400);
}

.btn_warning:hover {
  background-color: var(--warning-200);
}
.btn_warning svg path,
.btn_warning:active svg path,
.btn_warning:hover svg path {
  stroke: #fff;
}
/* END */


/* BEGIN */
.btn_danger {
  background-color: var(--danger-300);
}

.btn_danger:active {
  background-color: var(--danger-400);
}

.btn_danger:hover {
  background-color: var(--danger-200);
}
.btn_danger svg path,
.btn_danger:active svg path,
.btn_danger:hover svg path {
  stroke: #fff;
}
/* END */

/* BEGIN */
.btn_icon {
  background-color: var(--primary-300);
}

.btn_icon:active {
  background-color: var(--primary-400);
}

.btn_icon:hover {
  background-color: var(--primary-200);
}
.btn_icon path,
.btn_icon:active path,
.btn_icon:hover path {
  stroke: #fff;
}

.btn_icon.btn_lg{
  padding: 13px;
}
.btn_icon.btn_md{
  padding: 11px;
}
.btn_icon.btn_sm{
  padding: 10px;
}
.btn_icon.btn_mini{
  padding: 8px;
}
/* END */
